# MacOS's
.DS_Store

env/
__pycache__/
vkquick.egg-info/
todo/
.pytest_cache/
site/
dist/

# Tests data
tests/test_bot/config.toml
tests/test_bot/.cache

examples/TodoBot/config.toml
examples/TodoBot/src/db.sqlite3
