# MacOS's
.DS_Store

env/
env3.7/
__pycache__/
vkquick.egg-info/
todo/
.pytest_cache/
.idea/
site/
dist/
.coverage
.coverage*

# Tests data
tests_old/

# Old
examples/TodoBot/
vkquick_old/
vkquick_old2/

poetry.lock

docs/build/

htmlcov/
