# MacOS's
.DS_Store

.drafts/
.venv/
env/
env3.7/
__pycache__/
vkquick.egg-info/
todo/
.pytest_cache/
.idea/
site/
dist/
.coverage
.coverage*

# Tests data
tests_old/

# Old
examples/TodoBot/

poetry.lock

docs/build/

htmlcov/

.mypy_cache/

vk-api-schema/

penv/
.tox/
.benchmarks/

.drafts/

autodocs/
