[tool.poetry]
name = "vkquick"
version = "0.2.1"
description = "Package for quick writing vk chat bots"
license = "MIT"
homepage = "https://github.com/Rhinik/vkquick"
documentation = "https://rhinik.github.io"
authors = ["Kurbatov Yan <deknowny@gmail.com>"]
readme = "README.md"
keywords = [
    "vk", "async", "bots", "quick", "api"
]
classifiers = [
    "Environment :: Console",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Natural Language :: Russian",
    "Topic :: Documentation",
    "Topic :: Software Development :: Code Generators",
    "Typing :: Typed",
    "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "^3.8"
click = "^7.1.2"
attrdict = "^2.0.1"
aiohttp = "^3.6.2"
watchdog = "^0.10.2"
colorama = "^0.4.3"
toml = "^0.10.1"
pygments = "^2.6.1"
requests = "^2.24.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
mkdocs-material = "^5.4.0"
mkdocs = "^1.1.2"
pytest-asyncio = "^0.14.0"
black = "^19.10b0"

[tool.poetry.scripts]
bot = "vkquick.console:bot"

[tool.black]
line-length = 78

[tool.poetry.urls]
"VK group" = "https://vk.com/vkquick"
"Help chat" = "https://vk.me/join/AJQ1dzLqwBeU7O0H_oJZYNjD"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
